@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

body {
  background: url('../public/img/main-bg.jpg');
  background-position:center;
  background-size: cover;
  background-repeat:repeat-y;
}

.header h1 {
  color: rgb(255, 80, 197);
  padding-top: 50px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 600;
  color: rgb(255, 80, 197);
  border-color: transparent;
  letter-spacing: 0.9px;
  margin-top: 50px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
  background-color: rgb(255, 80, 197);
  color: #fff;
  
}

.container {
  padding-top: 50px;
}



.card-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}



.card-images{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

  

.front-card {
  margin-left: 30px;
  margin-top: 30px;
}

.back-card {
  width: 125px;
}

.card-images img {
 
  display: block;
}

.back-card {
  cursor: pointer;
  
}

.card-images .front-card {
  display: block;
  position:  absolute;
  transform:  rotateY(90deg);
  transition:  all 0.3s ease-in-out;
 
  
}

.flipped .front-card {
  display: block;
  
  transform: rotateY(0deg);
}

.card-images .back-card {
  transition: all 0.4s ease-in-out;
}



.flipped .back-card {
  visibility: hidden;
  transform: rotateY(90deg);
  
}
  
  

@media only screen and (max-width: 611px) {
  .header h1 {
    color: rgb(255, 80, 197);
    padding-top: 10px;
  }

  button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: 600;
    color: rgb(255, 80, 197);
    border-color: transparent;
    letter-spacing: 0.9px;
    margin-top: 20px;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .card-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}


@media only screen and (max-width: 481px) {
  .header h1 {
    color: rgb(255, 80, 197);
    padding-top: 10px;
  }

  button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: 600;
    color: rgb(255, 80, 197);
    border-color: transparent;
    letter-spacing: 0.9px;
    margin-top: 20px;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .card-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}


@media only screen and (max-width: 320px) {
  .header h1 {
    color: rgb(255, 80, 197);
    padding-top: 10px;
  }

  button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: 600;
    color: rgb(255, 80, 197);
    border-color: transparent;
    letter-spacing: 0.9px;
    margin-top: 20px;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .card-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}







